# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
portfolio/node_modules/
portfolio/build/
portfolio/.env
portfolio/.DS_Store

# General
*.log
*.sqlite
*.pyc
__pycache__/
.DS_Store
Thumbs.db

# OS
ehthumbs.db
Icon?
desktop.ini

# VScode
.vscode/

# Python Cache
server/__pycache__/
*.pyc

# Ignore portfolio folder from tracking

