.post-feed-container {
  width: 100%;
  max-width: 750px;
  margin: 20px auto;
  padding: 20px;
}

/* Post Card Styling */
.post-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  transition: box-shadow 0.3s ease;
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-time {
  font-size: 12px;
  color: #999;
}

.post-content {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #333;
  width: 85%;
}

.post-image,
.post-video {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.post-article {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.6;
}

/* Post Actions */
.post-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #e0e0e0;
}

.action-button {
  background-color: #f1f1f1;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #666;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.action-button:hover {
  background-color: #d1d1d1;
  color: #333;
}

.like-button.liked {
  color: #e74c3c;
}

/* Comments Section */
.comment-section {
  margin-top: 20px;
}

.comment-input-container {
  display: flex;
  gap: 10px;
}

.comment-input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  font-size: 14px;
}

.comment-submit-button {
  color: #2980b9;
  border: none;
  background-color: transparent;
  padding: 10px 12px;
  cursor: pointer;
  font-size: larger;
}

.comments-list {
  margin-top: 15px;
}

.comment {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.comment-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment-content {
  background-color: #f4f4f4;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-username {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-text {
  color: #555;
}

.comment-time {
  font-size: 12px;
  color: #999;
}

@keyframes liked-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.comment-button {
  color: #3498db;
}

.share-button {
  color: #2ecc71;
}

.action-button:hover.like-button {
  color: #111;
}

.action-button:hover.like-button.liked {
  color: #e74c3c;
}

.action-button:hover.comment-button {
  color: #2980b9;
}

.action-button:hover.share-button {
  color: #27ae60;
}

.menu-icon {
  cursor: pointer;
  margin-left: 10px;
}

.dropdown-menu {
  position: absolute; /* Positioning to make it a dropdown */
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  right: 17%;
  z-index: 1; /* Ensure it appears above other content */
}

.dropdown-menu button {
  background: none; /* No background for buttons */
  border: none; /* No border */
  padding: 10px 15px; /* Padding for buttons */
  text-align: left; /* Align text to the left */
  width: 100%; /* Full width */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.2s; /* Transition for background color */
}

.dropdown-menu button:hover {
  background-color: #f1f1f1; /* Change background on hover */
}

/* Responsive Styles for Mobile View */
@media (max-width: 600px) {
  .post-feed-container {
    padding: 0px;
  }

  .post-card {
    padding: 10px;
  }

  .post-content {
    font-size: 16px;
    width: 75%;
  }

  .post-actions {
    flex-direction: row;
    align-items: flex-start;
  }

  .action-button {
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 600 !important;
  }

  .comment-input-container {
    flex-direction: row;
  }

  .comment-input {
    margin-bottom: 5px;
  }

  .comments-list {
    margin-top: 10px;
  }

  .comment {
    flex-direction: row;
    align-items: flex-start;
  }

  .comment-profile-pic {
    width: 30px;
    height: 30px;
  }

  .comment-header {
    width: 100%;
  }
}
